* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: monospace;
}

body {
  width: 100%;
  min-height: 100vh;
}

li a {
  text-decoration: none;
  color: #000;
  transition: all .3s ease-in-out;
}

li a:hover {
  color: #605f5f;
}

ul {
  list-style: none;
}

li {
  cursor: pointer;
}

.textarea {
  resize: none;
  height: 300px;
}

.btn a {
  text-decoration: none;
  color: #fff;
}

.btn a:hover {
  color: #fff;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header.scroll {
  background: rgb(204, 210, 215);
}

section.home,
section.about,
section.explore,
section.contact {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-top: calc(1.5rem + 65px);
}


footer {
  background: rgb(204, 210, 215);
}